doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    style.
      p{
        font-size : 18pt;
      }

    script.
      var message = 'hello';
      console.log(message);
  body
    block content